footer {
    background-color: #343a40; /* Fondo oscuro */
    color: #ffffff; /* Texto blanco */
  }
  
  footer a {
    color: #ffffff;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
    color: #f8c102; /* Cambia el color al pasar el mouse */
  }
  