<div class="container-fluid">
  <div class="title py-5">
    <h1 class="text-center">El sitio Marisqueria</h1>
  </div>
  <!-- inicio de enlace -->
  <div class="navbar d-flex justify-content-center w-100">
    <nav class="navbar navbar-expand-lg bg-body-tertiary w-100">
      <div class="container d-flex justify-content-around">
        <a class="navbar-brand" href="#">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-around" id="Navbar">
          <ul class="navbar-nav justify-content-around w-100">
            <li class="nav-item">

            <li class="nav-item">
              <a class="nav-link" routerLink="/contacto">Historial de pedidos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/Historial de pedidos">contactos</a>
            </li>
           
          </ul>
        </div>
      </div>
    </nav>
  </div>
  

  
  <!-- fin de navegador -->
</div>