<div class="nav">
    <div class="sb-sidenav-menu-heading">Core</div>
    <a class="nav-link" href="#">
        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
        Pagina principal
    </a>
    <div class="sb-sidenav-menu-heading">Interface</div>
    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
        aria-expanded="false" aria-controls="collapseLayouts">
        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
        Mantenimiento
        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>
    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
        <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" routerLink="producto"> <i class="fas fa-edit"></i> Producto </a>
            <a class="nav-link"> <i class="fas fa-edit"></i> Persona </a>
        </nav>
    </div>
    <div>
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
            [attr.data-bs-target]="'#'"

            aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon"><i class=""></i></div>
            
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div  aria-labelledby="headingOne"
            data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" > <i class=""></i> &nbsp;  
                </a>
            </nav>
        </div>
    </div>
</div>